// gap

.gap--base {
    gap: 12px !important;
}

.gap--4 {
    gap: 4px !important;
}

.gap--8 {
    gap: 8px !important;
}

.gap--12 {
    gap: 12px !important;
}

.gap--16 {
    gap: 16px !important;
}

.gap--20 {
    gap: 20px !important;
}

.gap--24 {
    gap: 24px !important;
}

.gap--28 {
    gap: 28px !important;
}

.gap--30 {
    gap: 30px !important;
}

.gap--32 {
    gap: 32px !important;
}