<!-- < blogs Section -->
<section class="news-section py-100">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp splite-text" data-splitting data-wow-delay="0.1s">Our Scheme Plan
                    </h6>
                    <h1 class="title wow animate__animated animate__fadeInUp splite-text" data-splitting data-wow-delay="0.2s">Our lattes blog post
                    </h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Download the
                        Alister Bank app and simplify</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-4"> 
            <div class="col-lg-4 col-md-6">
                <a href="blog-details.html">
                    <div class="blog-card">
                        <div class="thumb">
                            <img src="assets/images/blog/blog1.png" alt="...">
                        </div>
                        <div class="blog-content">
                            <p class="date-time"><span>Featured - </span>18 Jul 2018</p>
                            <h5 class="title">Haiti gang lea declares revolution’ as violence spreads</h5>
                            <div class="d-flex justify-content-end align-items-center">
                                <span class="btn btn--base circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="blog-details.html">
                    <div class="blog-card">
                        <div class="thumb">
                            <img src="assets/images/blog/blog2.png" alt="...">
                        </div>
                        <div class="blog-content">
                            <p class="date-time"><span>Featured - </span>18 Jul 2018</p>
                            <h5 class="title">Haiti gang lea declares revolution’ as violence spreads</h5>
                            <div class="d-flex justify-content-end align-items-center">
                                <span class="btn btn--base circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="blog-details.html">
                    <div class="blog-card">
                        <div class="thumb">
                            <img src="assets/images/blog/blog3.png" alt="...">
                        </div>
                        <div class="blog-content">
                            <p class="date-time"><span>Featured - </span>18 Jul 2018</p>
                            <h5 class="title">Haiti gang lea declares revolution’ as violence spreads</h5>
                            <div class="d-flex justify-content-end align-items-center">
                                <span class="btn btn--base circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--  blogs Section /> -->