<!-- Breadcrumb Start Here -->
<div class="breadcumb section--bg">
    <div class="breadcumb-bg--img">
        <img src="assets/images/common/breadcrumb-bg.png" alt="...">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb--wrapper">
                    <h2 class="breadcumb--title fw--700">  @@breadcumbText </h2>
                    <ul class="breadcumb--list">
                        <li class="breadcumb--item"><a href="index.html" class="breadcumb--link">Home</a></li>
                        <li class="breadcumb--icon">/</li>
                        <li class="breadcumb--item"> <span class="breadcumb--item--text"> @@breadcumbText </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb End Here -->