<section class="category-section z--1">
 
    <div class="container">

        <div class="category-section--content base--radius z--1">
            <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="section-content-4">
                          <h6 class="heading wow animate__animated animate__fadeInUp " data-wow-delay="0.1s">our category's</h6>
                          <h6 class="title wow animate__animated animate__fadeInUp " data-wow-delay="0.2s">Most Top Categories.</h6>
                          <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,</p>
                      </div>
                  </div>
              </div>
        </div>



        <div class="row justify-content-center gy-4">
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6 ">
                <a href="#" class="category-card base--radius d-flex flex-column justify-content-start align-items-start hover-bg--base">
                    <div class="icon-wrap">
                        <div class="icon base--radius d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-square-root-variable text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex flex-column justify-content-start align-items-start">
                        <h6 class="title text-start fw--500">Mathematics</h6>
                        <p class="sub-title text-start text--base fw--400">2340 Subject</p>
                    </div>
                    <div class="thumb--wrap position-absolute">
                        <img src="assets/images/common/card-bg1.png" alt="...">
                    </div>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="category-card base--radius d-flex flex-column justify-content-start align-items-start hover-bg--base">
                    <div class="icon-wrap">
                        <div class="icon base--radius d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-lightbulb text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex flex-column justify-content-start align-items-start">
                        <h6 class="title text-start fw--500">General Knowledge</h6>
                        <p class="sub-title text-start text--base fw--400">2340 Subject</p>
                    </div>
                    <div class="thumb--wrap position-absolute">
                        <img src="assets/images/common/card-bg1.png" alt="...">
                    </div>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="category-card base--radius d-flex flex-column justify-content-start align-items-start hover-bg--base">
                    <div class="icon-wrap">
                        <div class="icon base--radius d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-flask text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex flex-column justify-content-start align-items-start">
                        <h6 class="title text-start fw--500">Chemistry</h6>
                        <p class="sub-title text-start text--base fw--400">2340 Subject</p>
                    </div>
                    <div class="thumb--wrap position-absolute">
                        <img src="assets/images/common/card-bg1.png" alt="...">
                    </div>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="category-card base--radius d-flex flex-column justify-content-start align-items-start hover-bg--base">
                    <div class="icon-wrap">
                        <div class="icon base--radius d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-microchip text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex flex-column justify-content-start align-items-start">
                        <h6 class="title text-start fw--500">Technology</h6>
                        <p class="sub-title text-start text--base fw--400">2340 Subject</p>
                    </div>
                    <div class="thumb--wrap position-absolute">
                        <img src="assets/images/common/card-bg1.png" alt="...">
                    </div>
                </a>
            </div>
         
           
            
          
           

        </div>
    </div>

</section>