<section class="category-section">
 
    <div class="container">

      <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp " data-wow-delay="0.1s">Our Features</h6>
                    <h6 class="title wow animate__animated animate__fadeInUp " data-wow-delay="0.2s">Our Core Features</h6>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Proin ac 9,845
                        Premium Courses, a vestibulum augue.
                        Vivamus ipsum </p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center gy-0">
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">24/7 Support</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Secure</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Profitable</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Reliable</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Quick Withdrawal</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-3 col-md-4 col-sm-6 p-0">
                <a href="#" class="category-card">
                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Certified</h6>
                        <p class="sub-title">Pick the service you are looking for
                            from the website or the app.</p>
                    </div>
                </a>
            </div>
           
            
          
           

        </div>
    </div>

</section>