<!-- < process-section -->
<section class="counter-section bg--base py-60">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="count-card">
            <div class="count-number-wraper">
                <span class="amount odometer" data-count="28"></span>
                <h6 class="amount">Million</h6>
            </div>
            <p class="subtitle">ACCOUNT HOLDERS</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="count-card">
                <div class="count-number-wraper">
                    <span class="amount odometer" data-count="89"></span>
                    <h6 class="amount">Million</h6>
                </div>
                <p class="subtitle">ACCOUNT HOLDERS</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="count-card">
                <div class="count-number-wraper">
                    <span class="amount odometer" data-count="53"></span>
                    <h6 class="amount">Million</h6>
                </div>
                <p class="subtitle">ACCOUNT HOLDERS</p>
            </div>
          </div>
      </div>
    </div>
</section>
<!--  process-section /> -->