<section class="plan--section zindex--1 py-100">

    <div class="bg--image">
        <img src="assets/images/common/plan-bg.png" alt="...">
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp splite-text" data-splitting
                        data-wow-delay="0.1s">Our Plans</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp splite-text" data-splitting
                        data-wow-delay="0.2s">Investment Plans</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Aenean vulputate
                        eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center gy-5 mt-60 mt-md-0"> 
            <div class="col-lg-4 col-md-6">
                <div class="hype--card">
                    <div class="card--header">
                        <div class="status status--basic">
                            <p class="name">ROI</p>
                        </div>
                        <h6 class="discription">Slivesto</h6>
                    </div>
                    <div class="price--wrap">
                        <h6 class="price">$80</h6>
                    </div>
                    <ul class="item--wrap">
                        <li class="item--list">
                            <div class="range-wrap">
                                <h6 class="title">Min: $200.00 - Max: 5000.00</h6>
                            </div>
                        </li>
                        <li class="item--list">
                            <h6 class="title">For 5 Hour</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Total 30% +</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Compound interest available</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Hold capital & reinvest</h6>
                        </li>
                    </ul>
                    <div class="btn-wrap text-center w-100">
                        <a class="btn btn--base ">Apply Now <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hype--card">
                    <div class="card--header">
                        <div class="status status--basic">
                            <p class="name">ROI</p>
                        </div>
                        <h6 class="discription">Slivesto</h6>
                    </div>
                    <div class="price--wrap">
                        <h6 class="price">$80</h6>
                    </div>
                    <ul class="item--wrap">
                        <li class="item--list">
                            <div class="range-wrap">
                                <h6 class="title">Min: $200.00 - Max: 5000.00</h6>
                            </div>
                        </li>
                        <li class="item--list">
                            <h6 class="title">For 5 Hour</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Total 30% +</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Compound interest available</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Hold capital & reinvest</h6>
                        </li>
                    </ul>
                    <div class="btn-wrap text-center w-100">
                        <a class="btn btn--base ">Apply Now <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="hype--card">
                    <div class="card--header">
                        <div class="status status--basic">
                            <p class="name">ROI</p>
                        </div>
                        <h6 class="discription">Slivesto</h6>
                    </div>
                    <div class="price--wrap">
                        <h6 class="price">$80</h6>
                    </div>
                    <ul class="item--wrap">
                        <li class="item--list">
                            <div class="range-wrap">
                                <h6 class="title">Min: $200.00 - Max: 5000.00</h6>
                            </div>
                        </li>
                        <li class="item--list">
                            <h6 class="title">For 5 Hour</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Total 30% +</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Compound interest available</h6>
                        </li>
                        <li class="item--list">
                            <h6 class="title">Hold capital & reinvest</h6>
                        </li>
                    </ul>
                    <div class="btn-wrap text-center w-100">
                        <a class="btn btn--base ">Apply Now <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>