<section class="how-it--work py-100">

    <div class="section-thumb1">
        <img src="assets/images/common/how-work1.png" alt="...">
    </div>
    <div class="section-thumb2">
        <img src="assets/images/common/how-work2.png" alt="...">

    </div>


    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">How it works</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">It's Easy To Join With Us</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Download the Alister Bank app and simplify</p>
                </div>
            </div>
        </div>


        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="how-work--box d-flex justify-content-center align-items-center flex-column gap-4 position-relative">
                    <div class="icon-wrap d-flex justify-content-center align-items-center position-relative">
                        <div class="icon d-flex justify-content-center align-items-center radius--50">
                            <i class="fa-solid fa-computer-mouse text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex justify-content-center align-items-center flex-column">
                        <h6 class="title text-center fw--600">Choose Your Category</h6>
                        <p class="sub-title text-center text--base">1st Stapes</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="how-work--box d-flex justify-content-center align-items-center flex-column gap-4 position-relative">
                    <div class="icon-wrap d-flex justify-content-center align-items-center position-relative">
                        <div class="icon d-flex justify-content-center align-items-center radius--50">
                            <i class="fa-solid fa-book text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex justify-content-center align-items-center flex-column">
                        <h6 class="title text-center fw--600">Select Your Subject</h6>
                        <p class="sub-title text-center text--base">2nd Stapes</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="how-work--box d-flex justify-content-center align-items-center flex-column gap-4 position-relative">
                    <div class="icon-wrap d-flex justify-content-center align-items-center position-relative">
                        <div class="icon d-flex justify-content-center align-items-center radius--50">
                            <i class="fa-solid fa-calendar-check text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex justify-content-center align-items-center flex-column">
                        <h6 class="title text-center fw--600">Attend The Examination</h6>
                        <p class="sub-title text-center text--base">3rd Stapes</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="how-work--box d-flex justify-content-center align-items-center flex-column gap-4 position-relative">
                    <div class="icon-wrap d-flex justify-content-center align-items-center position-relative">
                        <div class="icon d-flex justify-content-center align-items-center radius--50">
                            <i class="fa-solid fa-chart-simple text--base"></i>
                        </div>
                    </div>
                    <div class="content-wrap d-flex justify-content-center align-items-center flex-column">
                        <h6 class="title text-center fw--600">Get Your Result Fast</h6>
                        <p class="sub-title text-center text--base">4th Stapes</p>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
</section>