<section class="login-section">

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="bit-image--wrap">
        <div class="img1 top_image_bounce">
            <img class="animation-img" data-value="-10" src="assets/images/icon/bit1.png" alt="...">
        </div>
        <div class="img2">
            <img class="animation-img" data-value="10"  src="assets/images/icon/bit2.png" alt="...">
        </div>
        <div class="img3">
            <img class="animation-img" data-value="-5" src="assets/images/icon/bit3.png" alt="...">
        </div>
        <div class="img4 top_image_bounce">
            <img class="animation-img" data-value="-7" src="assets/images/icon/bit4.png" alt="...">
        </div>
        <div class="img5">
            <img class="animation-img" data-value="-2" src="assets/images/icon/bit5.png" alt="...">
        </div>
        <div class="img6">
            <img class="animation-img" data-value="3" src="assets/images/icon/bit6.png" alt="...">
        </div>
    </div>

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-10">
                <div class="login-box--wrap">
                    <div class="close--btn">
                        <a href="index.html"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="login-box">
                        <div class="d-flex flex-column align-items-center mb-5">
                            <div class="logo-wrap mb-3 d-flex justify-content-center align-items-center gap-2 flex-wrap">
                                <h4 class="title mb-0">Welcome To </h4>
                                <div class="logo">
                                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="..."></a>
                                </div>
                            </div>
                            <p class="subtitle text-center w-75">If you are already a member you can login with your email address and password.</p>
                        </div>
                      
                        <div class="mb-4 form-group">
                            <label class="mb-2 form--label">Email or username</label>
                            <input class="form--control" placeholder="User name">
                        </div>

                        <div class="mb-4 form-group">
                            <label class="mb-2 form--label">Passwords</label>
                            <input class="form--control" placeholder="Password" type="password">
                        </div>

                        <div class="login-meta d-flex justify-content-between align-items-center mb-5 flex-wrap" data-wow-delay="0.5s">
                            <div class="form--check">
                                <input class="form-check-input" id="check" type="checkbox" value="">
                                <label class="ms-1" for="check">Remember Me</label>
                            </div>
                            <div class="condition-text">
                                <a href="#">Forget Password ?</a> 
                                
                            </div>
                        </div>

                        <div class="btn-wrap mb-4">
                            <button class="btn btn--base w-100">Log in</button>

                        </div>


                        <div class="d-flex justify-content-center align-items-center">
                            <p> You don't have any account ? <a href="signin.html" class="text--base">Sign In</a></p>
                        </div>

                        <!-- <div class="social-option">
                            <div class="text">
                                <h6>or</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            </ul>
                            <p> Already have an account ? <a href="#">Log In</a></p>
                        </div> -->

                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</section>