<section class="newslatter-section py-120">
    <div class="container">
        <div class="row justify-content-center gy-4">
            <div class="col-lg-12">
                <div class="stay-tune-box text-center">
                    <div class="nwslatter-section--bg ">
                        <img src="assets/images/common/news.png" alt="...">
                    </div>

                    <h2 class="tune-box-title mb-3">Stay With Us !</h2>
                    <p class="tune-box-subtitle mb-4"> Subscribe to our newsletter for updates, promotions, and
                        exclusive offers. Don't miss out!</p>
                    <div class="footer-subscribe-box">
                        <form action="">
                            <input class="form--control footer-input" name="email" type="text" placeholder="Email..."
                                id="email">
                            <button class="btn btn--base search-btn ms-3" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>