<section class="contact-section py-100">
    <div class="container">
        <div class="row justify-content-center gy-4">


          
       
            <div class="col-xl-4 col-lg-6 mt-5">
                <div class="contact-right-side mb-5">
                 

                    <ul class="contact-list--wrap base--radius d-flex flex-column justify-content-start gap--32">
                        <li class="item">
                            <div class="content">
                                <p>Phone Number</p>
                                <div class="icon--wrap d-flex justify-content-start align-items-center gap-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <p >
                                        <a href="tel:+8800000000000">000 4785 8785</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="content">
                                <p>Email Address</p>
                                <div class="icon--wrap d-flex justify-content-start align-items-center gap-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <p>
                                        <a href="mailto:avronsoft@gmail.com">avronsoft@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="content">
                                <p>Our Location</p>
                                <div class="icon--wrap d-flex justify-content-start align-items-center gap-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <p>
                                        <a href="#">6391 Elgin St. Celina, Dokkhin-Khan 10299</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-8 col-lg-6 mt-5">

                <div class="map-section mb-5">
                    <div class="map-box">
                        <iframe src="https://maps.google.com/maps?q=876768,67867868&amp;hl=es;z=14&amp;output=embed"  allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
               
                <div class="contact-card">
                    <h6 class="mb-4">Contact With Us</h6>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Name</label>
                                    <input class="form--control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Phone</label>
                                    <input class="form--control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Email</label>
                                    <input class="form--control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Subject</label>
                                    <input class="form--control">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="mb-3 form--label">Message</label>
                            <textarea class="form--control"></textarea>
                        </div>
                        <button class="btn btn--base"> Send Message</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>



<!--  contact section /> -->