<section class="contact-section py-100">
    <div class="container">
        <div class="row justify-content-center gy-4">


            <div class="col-lg-12">
                <div class="contact-right-side mb-5">
                    <div class="row gy-3">
                        <div class="col-lg-4">
                            <div class="contact-card">
                                <div class="icon-wrap">
                                    <img src="assets/images/icon/icon23.png" alt="...">
                                </div>
                                <div class="content-wrap">
                                    <h6 class="title">Phone Number</h6>
                                    <a href="tel:+8800000000000">
                                        <p>000 4785 8785</p>
                                    </a>
                                    <a href="tel:+8800000000000">
                                        <p>000 4785 8785</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-card">
                                <div class="icon-wrap">
                                    <img src="assets/images/icon/icon24.png" alt="...">

                                </div>
                                <div class="content-wrap">
                                    <h6 class="title">Email US ON</h6>
                                    <a href="mailto:wstacksltd@gmail.com">
                                        <p> dem@gmail.com</p>
                                    </a>
                                    <a href="mailto:wstacksltd@gmail.com">
                                        <p>test@gmail.com</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-card">
                                <div class="icon-wrap">
                                    <img src="assets/images/icon/icon25.png" alt="...">

                                </div>
                                <div class="content-wrap">
                                    <h6 class="title">Find US</h6>
                                    <a>
                                        <p>6391 Elgin St. Celina, Delaware 10299</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       

            <div class="col-xl-6 col-lg-6 mt-5">
               
                <div class="contact-card">
                    <h6 class="mb-4">Lave an Comment</h6>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Name</label>
                                    <input class="form--control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 form-group">
                                    <label class="mb-3 form--label">Email</label>
                                    <input class="form--control">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="mb-3 form--label">Message</label>
                            <textarea class="form--control"></textarea>
                        </div>
                        <button class="btn btn--base"> Send Message</button>
                    </form>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 mt-5">
                <div class="map-section">
                    <div class="map-box">
                        <iframe src="https://maps.google.com/maps?q=876768,67867868&amp;hl=es;z=14&amp;output=embed"  allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<!--  contact section /> -->