<!-- < testimonial-section -->
<section class="testimonial-section bg--base py-100">

    <div class="bg--thumb1 base--radius overflow--hidden">
        <img src="assets/images/common/ts-bg1.png" alt="...">
    </div>
    <div class="bg--thumb2 base--radius overflow--hidden">
        <img src="assets/images/common/ts-bg2.png" alt="...">

    </div>
    <div class="bg--thumb3 base--radius overflow--hidden">
        <img src="assets/images/common/ts-bg3.png" alt="...">

    </div>
    <div class="bg--thumb4">
        <img src="assets/images/common/ts-bg4.png" alt="...">

    </div>
    <div class="bg--thumb5 spin_image">
        <img src="assets/images/common/ts-bg5.png" alt="...">

    </div>
    <div class="bg--thumb6 spin_image">
        <img src="assets/images/common/ts-bg5.png" alt="...">

    </div>
    <div class="bg--thumb7 base--radius overflow--hidden">
        <img src="assets/images/common/ts-bg1.png" alt="...">
    </div>


    <div class="testimonial-wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row testimonial-slider">
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-thumb">
                                <img src="assets/images/common/testemonial-icon.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="title text--white text-center fw--500">I can't recommend The Gourmet Haven
                                    enough. It's a place for special
                                    occasions, date nights, or whenever you're in the mood for a culinary adventure. The
                                    combination
                                    of exceptional.</h6>

                                <p class="text-center text--white fw--500">Cameron Williamson</p>
                                <p class="text-center text--white fw--400">USA, London City</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  testimonial-section /> -->