<!-- < testimonial-section -->
<section class="testimonial-section py-100 zindex--1">
    <div class="testimonial-wrap">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-content-4">
                        <h6 class="heading wow animate__animated animate__fadeInUp splite-text" data-splitting
                            data-wow-delay="0.1s">Testimonials</h6>
                        <h1 class="title wow animate__animated animate__fadeInUp splite-text" data-splitting
                            data-wow-delay="0.2s">What Our Users Say</h1>
                        <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Here are the investor leaders who have made the maximum investment with our system.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row testimonial-slider">
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user8.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Brooklyn Simmons, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user9.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Hera Rahman, <span>Uganda</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user10.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Rajib Raju, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user8.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Brooklyn Simmons, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user9.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Brooklyn Simmons, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user10.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Brooklyn Simmons, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>
                        <div class="testimonial-card">
                            <div class="icon-wrap">
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <div class="icon-thumb">
                                <img src="assets/images/user/user8.png" alt="...">
                            </div>
                            <div class="content-wrap">
                                <h6 class="name">Brooklyn Simmons, <span>USA</span></h6>
                                <p class="title">“Wulvinar. Aenean faucibus, ex at tempus vulputate, nisi nunc porta
                                    urna, non elementum nisl nulla”</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  testimonial-section /> -->