<section class="how-work py-100" >

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-content">
                            <div class="title-wrap">
                              <div class="row justify-content-between">
                                <div class="col-lg-9">
                                <h6 class="heading wow animate__animated animate__fadeInUp " data-wow-delay="0.1s">Why Choose Us</h6>
                                  <h2 class="title mb-3 wow animate__animated animate__fadeInUp " data-wow-delay="0.2s" >Experience a New Digital World.</h2>
                                  <p class="subtitle">Download the Alister Bank app and simplify your banking. Discover quick, simple and convenient way to take command of your bank account, on your mobile phone.</p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gy-4 mb-5">
                    <div class="col-lg-12">
                        <div class="service-key--box">
                            <div class="icon">
                                <i class="fa-solid fa-binoculars"></i>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Secure Service</h6>
                                <p class="sub-title">Download the Alister Bank app and simplify your banking. Discover quick</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="service-key--box">
                            <div class="icon">
                                <i class="fa-solid fa-bullseye"></i>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Lowest Transaction Fee</h6>
                                <p class="sub-title">Download the Alister Bank app and simplify your banking. Discover quick</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="service-key--box">
                            <div class="icon">
                                <i class="fa-solid fa-binoculars"></i>
                            </div>
                            <div class="content-wrap">
                                <h6 class="title">Solution Focused</h6>
                                <p class="sub-title">Download the Alister Bank app and simplify your banking. Discover quick</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 d-flex justify-content-end">
                <div class="whychoose-thumb--wrap">
                    <div class="thumb">
                        <img src="assets/images/common/why-choose.png" alt="...">
                    </div>
                    <div class="thumb-bar"></div>
                    <div class="whychoose-thumb-element">
                        <img src="assets/images/common/why-choose-elements.png" alt="...">
                    </div>
                </div>
            </div>
        </div>
    
   
    </div>
</section>