
.breadcumb {
    position: relative;
    padding: 70px 0px;
    background-color: hsl(var(--body-color));
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid hsl(var(--white) / 0.08);

    @include md-screen {
        padding: 150px 0px 60px 0px;
    }

    @include sm-screen {
        padding: 100px 0px 60px 0px;
    }


    &--wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 16px;


        &--title {
            font-weight: 800;
            font-size: 40px;
            margin: 0px !important;
            color: hsl(var(--black));
            text-align: center;
        }

    }


    &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &--item {
        color: hsl(var(--black));
        padding-right: 4px;
        font-weight: 400;
        font-size: 18px;

        @include msm-screen {
            font-size: 15px;
        }

        &--text {
            color: hsl(var(--base));
        }
    }

    &--icon {
        margin-top: 4px;
        color: hsl(var(--base));
    }

    &--link {
        color: hsl(var(--white)) !important;
        font-weight: 600;

        &:hover {
            color: hsl(var(--base));
            ;
        }
    }
}


