.key-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .count-number-wraper{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: var(--gradient-bg);
        height: 70px;
        width: 70px;
        margin-bottom: 40px;
        span{
            color: hsl(var(--white));
            font-size: 40px;
           
        }
    }
    .title{
        margin-bottom: 24px;
        font-size: 24px !important;
        font-weight: 700;
        line-height: 1.29;
    }
    .subtitle{
        width: 80%;
        text-align: center;
    }
}   

@media (max-width:425px){
    .key-card{
        .title{
            margin-bottom: 12px;
        }
       
    } 
}



// count card
.count-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .count-number-wraper{
      color: hsl(var(--white));
      display: flex;
      align-items: center;
     
      .amount{
        color: hsl(var(--white));
        font-size: 60px;
        font-weight: 500;
        line-height: 1.25;
        margin: 0px;
      }
    }
    .subtitle{
      color: hsl(var(--white));
      font-size: 20px;
      font-weight: 400;
    }
  }