.header {
    position: absolute;
    z-index: 5;
    padding: 0px;
    background: transparent;
    width: 100%;

    @include md-screen {
        top: 0px;
        padding: 18px 36px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 7;
        max-height: 101vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
        }
    }

    @include msm-screen {
        padding: 12px 0px;
    }

    &.fixed-header {
        background-color: hsl(var(--white));
        position: fixed;
        top: 0px;
        animation: slide-down 0.8s;
        width: 100%;
        box-shadow: rgb(9 9 9/ 5%) 0px 1px 0px;
        border-bottom: 1px solid hsl(var(--white)/.08);
        padding: 0px;
        z-index: 99;

        .header-wrapper {
            padding: 22px 0px;
        }

        .header-wrapper .main-menu li a {
            color: hsl(var(--black));
        }

        .login--btn {
            border: 1px solid hsl(var(--base));
            color: hsl(var(--base));

        }

        .language-box .select {
            color: hsl(var(--base));
        }

        .language-box i {
            color: hsl(var(--base));
        }
    }

}

.header-main-area {
    .container-fluid {
        padding: 0 100px;

        @include xl-screen {
            padding: 0 60px;
        }

        @include msm-screen {
            padding: 0 25px;
        }
    }
}



.scrolled {
    display: none !important;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0px;

    @include md-screen {
        padding: 0px 0;
    }

    @include msm-screen {
        padding: 10px 15px !important;
    }

    .ham__menu {
        color: hsl(var(--base));
        display: none;

        @include md-screen {
            display: block !important;
        }
    }

    .logo-wrapper {
        img {
            max-width: 200px;
            filter: brightness(1);

            @include md-screen {
                width: 160px;
            }

            @include xsm-screen {
                width: 112px;
            }
        }
    }



    .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-left: -135px;

        @include md-screen {
            display: none !important;
        }

        @include lg-screen {
            margin-left: 0px;
        }

        li {
            transition: all .4s;

        }

        a {
            font-size: 16px;
            color: hsl(var(--black));
            font-weight: 600;
            position: relative;
            text-transform: uppercase;
            margin-right: 22px;

            &:before {
                position: absolute;
                bottom: -6px;
                content: '';
                width: 100%;
                height: 3px;
                background: hsl(var(--base));
                transform: translateX(-100%);
                opacity: 0;
            }

            &.active {
                color: hsl(var(--base));

                &:before {
                    opacity: 1;
                    transform: translateX(0);
                }

            }

            @include lg-screen {
                padding: 0px 12px;
            }

            &:hover {
                &:before {
                    opacity: 1;
                    transition: 0.5s transform ease, 0.8s opacity ease;
                    transform: translateX(0);
                }
            }
        }
    }








    @media (max-width: 770px) {

        .menu-list-wrapper {
            display: block !important;

            ul {
                gap: 0px;
            }
        }
    }


    @media (max-width: 620px) {

        .menu-list-wrapper {

            ul:last-child {
                display: none;
            }
        }
    }


    .count-item {
        position: absolute;
        height: 19px;
        width: 19px;
        background: hsl(var(--base));
        text-align: center;
        border-radius: 50%;
        font-size: 13px;
        color: hsl(var(--white));
        top: -7px;
        right: 7px;
        font-weight: 600;
        line-height: 19px;

        @include md-screen {
            top: -4px;
        }
    }
}

.header-wrapper-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: var(--header-bg);

    @include md-screen {
        padding: 0px 0;
    }

    @include msm-screen {
        padding: 0px 15px !important;
    }

    .ham__menu {
        color: hsl(var(--base));
        display: none;

        @include md-screen {
            display: block !important;
        }
    }

    .logo-wrapper {
        img {
            max-width: 160px;
            filter: brightness(1);

            @include md-screen {
                width: 160px;
            }

            @include xsm-screen {
                width: 112px;
            }
        }
    }



    .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;

        @include md-screen {
            display: none;
        }

        @include lg-screen {
            margin-left: 0px;
        }

        li {
            transition: all .4s;

        }

        a {
            font-size: 16px;
            color: hsl(var(--white));
            font-weight: 500;
            position: relative;
            text-transform: uppercase;
            margin-right: 48px;

            &:before {
                position: absolute;
                bottom: -6px;
                content: '';
                width: 100%;
                height: 3px;
                background: hsl(var(--base));
                transform: translateX(-100%);
                opacity: 0;
            }

            &.active {
                color: hsl(var(--white));

                &:before {
                    opacity: 1;
                    transform: translateX(0);
                }

            }

            @include lg-screen {
                padding: 0px 12px;
            }

            &:hover {
                &:before {
                    opacity: 1;
                    transition: 0.5s transform ease, 0.8s opacity ease;
                    transform: translateX(0);
                }
            }
        }
    }




    .menu-list-wrapper {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;

            li {
                margin-left: 12px;

                &:last-child {
                    a {
                        &::after {
                            content: none;
                        }
                    }
                }

                a {
                    color: hsl(var(--white));
                    position: relative;
                    padding-right: 12px;

                    &:hover {
                        color: hsl(var(--white));
                    }

                    &::after {
                        content: "";
                        right: 0;
                        bottom: 2px;
                        position: absolute;
                        width: 1px;
                        height: 14px;
                        background: hsl(var(--white)/0.2);
                    }
                }

                @include xsm-screen {
                    margin-left: 15px;
                }

                &:first-child {
                    margin-left: 0px;
                }

                &:nth-child(3) {
                    @include md-screen {
                        display: block;
                        visibility: visible;
                    }
                }


                @include md-screen {
                    a i {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    @media (max-width: 770px) {

        .menu-list-wrapper {
            display: block !important;

            ul {
                gap: 0px;
            }
        }
    }

    @media (max-width: 620px) {

        .menu-list-wrapper {

            ul:last-child {
                display: none;
            }
        }
    }
}




// header two
.header-two {

    .header-bg--img {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .header {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            width: 40%;
            height: 100%;
            background-color: hsl(var(--base));
            z-index: -1;
        }
    }

    .header.fixed-header .language-box .select {
        color: hsl(var(--white));
    }

    .header.fixed-header .login--btn {
        border: 1px solid hsl(var(--white));
        color: hsl(var(--white));
    }

    .header.fixed-header {
        position: fixed;


    }



}







.header.fixed-header {
    .header-wrapper .main-menu a {
        color: hsl(var(--white));

        &:hover {
            color: hsl(var(--base));
        }

        &.active {
            color: hsl(var(--base));
        }
    }

    .light-dark-btn-wrap .mon-icon {
        color: hsl(var(--black));
    }

    .menu-search-wrap .menu-search-wrap--search-icon i {
        font-size: 17px;
        color: hsl(var(--black));
    }

    // .header-wrapper .ham__menu{
    //     color: hsl(var(--black));
    // }
}








// Login Registration
.login-registration-list {

    @include md-screen {
        padding-right: 0;
    }

    &__item {
        padding-right: 8px;
        color: hsl(var(--black));
        position: relative;

        &:last-child::before {
            display: none;
        }

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 12px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: hsl(var(--dark)/.5);
        }
    }

    &__icon {
        color: hsl(var(--black));
        margin-right: 10px;
        font-size: 16px;

        i {
            color: hsl(var(--black));

        }
    }

    &__link {
        color: hsl(var(--black));
        font-weight: 400;
        font-family: var(--body-font);

        @include msm-screen {
            font-size: 15px;
        }

        &:hover {
            color: hsl(var(--black));

            .login-registration-list__icon {
                color: hsl(var(--black));
            }

            @include md-screen {
                color: hsl(var(--black));
            }
        }
    }
}

// Language Box
.language-box {
    display: flex;
    align-items: center;
    position: relative;

    i {
        color: hsl(var(--white));
        font-size: 17px;
        margin-right: 5px;
    }

    .select {
        color: hsl(var(--white));
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px 0px;
        font-size: 16px;

        option {
            background-color: hsl(var(--dark));
        }
    }
}

.login--btn {
    color: hsl(var(--white));
    font-weight: 600;
    padding: 12px 18px;
    border-radius: 5px;
    border: 1px solid hsl(var(--white));
    &:hover{
        background-color: hsl(var(--white));
        color: hsl(var(--base));
    }
}



@media(max-width:480px) {
    li.login-registration-list__item {
        display: none;
    }

    .menu-wrapper {
        display: none;
    }
}






// Responsive code
@media (max-width:1199px) {
    .header-wrapper .main-menu a {
        margin: 0px;
    }

    .header-wrapper .menu-list-wrapper ul {
        gap: 0px;
    }

    .header-wrapper .search-box-wrap {
        width: 500px;
    }
}

@media (max-width:992px) {
    .header-wrapper .search-box-wrap {
        display: none;
    }

    .header-wrapper-2 {
        display: none;
    }

    .scrolled {
        display: flex !important;
    }
}

@media (max-width: 769px) {
    .ham__menu {
        display: block !important;
    }

    .language-dropdown {
        width: 90px;
        position: fixed;
        top: 44px;
        right: 74px !important;

    }
}

@media (max-width:620px) {
    .mobile-search-box {
        display: block;
    }

    .input-show {
        display: none !important;
    }

}

@media (max-width:450px) {
    .mobile-search-input {
        width: 100% !important;
    }
}

@media (max-width: 426px) {


    .mobile-search-input {
        padding: 2px 10px !important;
    }
}

@media (max-width: 321px) {

    .language-dropdown {
        right: 52px !important;
    }
}