






// how it works
.how-work--box {
    &::after {
        content: "";
        position: absolute;
        top: 31%;
        right: -58px;
        width: 100px;
        height: 1px;
        background: hsl(var(--black) / 0.1);
    }

    &::before {
        content: "\f054";
        font-family: FontAwesome;
        position: absolute;
        top: 26%;
        right: -62px;
    }

    .icon-wrap {
        width: 144px;
        height: 144px;
        background-color: hsl(var(--base)/0.1);
        border-radius: 50%;
        .icon {
            width: 118px;
            height: 118px;
            border: 1px dashed hsl(var(--black)/0.1);
        }
        i {
            font-size: 36.789px;
        }
    }

    .content-wrap {
        .title {
            font-size: 20px;
            margin-bottom: 4px;
        }
    }
}

.how-it--work {
    position: relative;
    .section-thumb1 {
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
    .section-thumb2 {
        position: absolute;
        top: 35%;
        right: 10%;
    }
}

.how-it--work .col-xl-3.col-lg-4.col-md-4:last-child {
    .how-work--box::after {
        display: none;
    }
    .how-work--box::before {
        display: none;
    }
}






// popup video
.popup-video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    .play-video {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9;

        &:hover {
            color: hsl(var(--black));
        }

        i {
            font-size: 24px;
            color: hsl(var(--base));
        }
    }
}

.waves {
    position: absolute;
    width: 96px;
    height: 96px;
    background: hsl(var(--white));
    border-radius: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: -37px;
    left: -41px;
    z-index: 1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}