// login box
.login-box {

    border-radius: 9px;
    padding: 70px 62px;
    transition: all 0.4s ease-in-out;
    position: relative;
    border: 1px solid hsl(var(--white)/0.09);

    .icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        .icon {
            width: 74px;
            height: 74px;
            border-radius: 50%;
            background-color: hsl(var(--base));
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 50px;
                color: hsl(var(--white));
            }
        }
    }

    .title {
        font-size: 32px;

        line-height: 1.3;
        margin-bottom: 30px;
        text-align: center;
    }

    .login-meta {
        display: inline-flex;
        align-items: baseline;

        .condition-text {
            margin-left: 8px;

            a {
                color: hsl(var(--base));
            }

            p {
                font-size: 16px;

                a {
                    color: hsl(var(--base));
                }
            }
        }
    }

    .social-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 42px;

        .text {
            display: inline-flex;
            align-items: center;

            h6 {
                margin: 0px 10px;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.29;
            }

            &::before {
                content: "";
                width: 170px;
                height: 1px;
                border: 1px dashed hsl(var(--black)/.6);
            }

            &::after {
                content: "";
                width: 170px;
                height: 1px;
                border: 1px dashed hsl(var(--black)/.6);
            }
        }

        ul {
            display: flex;
            margin: 20px 0px;
            gap: 12px;

            li {
                a {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: hsl(var(--white));
                    color: hsl(var(--base));
                }
            }
        }

        p {
            margin-top: 8px;

            a {
                color: hsl(var(--base));
            }
        }
    }

    .req--box {
        height: 123px;
    }
}

.login-box--wrap {
    // position: absolute;
    // top: 164px;
    // width: 100%;

    .close--btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: hsl(var(--black));
        font-size: 18px;
        background: hsl(var(--white));
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        z-index: 9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.login-thumb--wrap {
    position: relative;
    height: 596px;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: hsl(var(--base)/0.5);
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.login-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    z-index: 1;

    .logo-wrap {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    .login--bg1 {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .login--bg3 {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
    }

    .login--bg2 {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 680px;
        height: 680px;
        border: 30px solid hsl(var(--white));
        overflow: hidden;

        
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}











.login-container {
    padding: 0px !important;
    margin: 0px !important;
}

.login-right-section {
    background-color: hsl(var(--base));
    height: 100vh;
    width: 100%;
}

.login-left-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}