

.product-details {
    padding: 64px 0 90px 0px;

    .key {
        margin-bottom: 64px;

        .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 12px;
            i{
                color: hsl(var(--yellow));
            }
        }

        .discription {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.75;
            margin-bottom: 14px;
        }




    }


}

