// style one
.section-content {
    margin-bottom: 34px;

    .title-wrap {
        .heading {
            color: hsl(var(--base));
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            text-align: left;
            letter-spacing: 6px;
            text-transform: uppercase;
        }

        .title {
            font-size: 48px;
          
            line-height: 1.18;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.75;
        }

    }

    .section-link {
        color: hsl(var(--base));
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
    }
}


// style two
.section-content-2 {
    margin-bottom: 34px;

    .title-wrap {
        display: flex;
        justify-content: space-between;

        .title {
            color: hsl(var(--white));
            font-size: 24px !important;
            font-weight: 700;
            line-height: 1.16;
            margin: 0px;
        }
    }
}

// style three
.section-content-3 {
    margin-bottom: 34px;

    .title {
        font-size: 36px !important;
        font-weight: 700;
        margin: 0px;
    }
}

// style four
.section-content-4 {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading {
        color: hsl(var(--base));
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    .title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px
    }

    .subtitle {

        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}

// style five
.section-content-5 {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        color: hsl(var(--black));
        text-align: center;
        font-size: 36px !important;
        font-weight: 700;
        line-height: 1.16;
        margin: 0px;
    }
}