// contact section right content
.contact-right-side {
  position: sticky;
  top: 116px;
  .contact-list--wrap{
    padding: 32px 28px;
    border: 1px solid hsl(var(--base)/0.1);
  }
}



.contact-card2 {
  padding: 36px;
  background: hsl(var(--base)/0.1);
  border-radius: 8px;
}

.map-section {
  padding: 10px;
  border: 1px dashed hsl(var(--black)/.08);
  border-radius: 12px;
  .map-box {
    height: 451px;
    border-radius: 9px;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}



@media (max-width:425px) {
  .contact-right-side {
    .title {
      font-size: 30px !important;
    }
  }
}