// dash board
.dashboard {
    background: hsl(var(--black)/0.06);
    height: 100%;
    min-height: 100vh;
}

    .user-profile {
        background: var(--gradient-bg);
        border-radius: 8px;
        padding: 36px 0px;
    }



    .dashboard_profile_wrap .profile_photo:hover::before {
        visibility: visible;
        opacity: .7;
    }

    .dashboard_profile_wrap .profile_photo:hover .photo_upload i {
        visibility: visible;
        opacity: 1;
    }

    .dashboard_profile {
        &__details {
            ul {
                li {
                    a {
                        display: block;
                        font-size: 17px;
                        transition: all .3s ease-in-out;

                        i {
                            margin-right: 10px;
                        }

                        &:hover {
                            color: hsl(var(--black));
                        }

                        &.active {
                            color: hsl(var(--base));
                        }
                    }

                }
            }
        }
    }

    .dashboard-body {
        position: relative;

        &__bar {
            display: none;

            @include lg-screen {
                display: block;
            }

            &-icon {
                color: hsl(var(--white));
                font-size: 25px;
                margin-bottom: 10px;
                cursor: pointer;
                width: 50px;
                height: 40px;
                background-color: hsl(var(--base));
                text-align: center;
                padding: 2px 8px;
                border-radius: 3px;
            }
        }


    }

    .selling-group-item span {
        font-size: 14px;
    }

    .message-send__content.section-bg-two {
        padding: 3px 5px;
        margin-bottom: 5px;
    }

    .message-send__content.section-bg-two p {
        font-size: 14px;
    }

    ul.list.d-flex.message-send__history {
        font-size: 12px;
    }

    .message-send {
        margin-bottom: 10px;
    }

    .message-receive__history-item {
        margin-right: 20px;
        position: relative;
    }

    .message-receive__history-item:last-child {
        margin-right: 0;
    }

    .message-receive__history-item:after {
        position: absolute;
        top: 9px;
        right: -13px;
        content: "";
        background: hsl(var(--base));
        height: 4px;
        width: 4px;
        border-radius: 50%;
    }

    .message-receive__history-item:last-child:after {
        display: none;
    }

    .milestones-action {
        cursor: pointer;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    /*======= Dashboard wizard=======*/
    .wizard-card {
        background-color: hsl(var(--cards-bg));
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .content-wrap {
            display: flex;
            align-items: center;
            gap: 12px;
            .icon-wrap {
                width: 39px;
                height: 39px;
                border-radius: 50%;
                background-color: hsl(var(--base));
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &::after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-color: hsl(var(--black)/0.1);
                    bottom: 0px;
                    right: 0px;
                    z-index: -1;
                }
                i{
                    color: hsl(var(--white));
                }
            }
            .title{
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 0px;
                color: hsl(var(--white)/0.6);
            }
        }

        .amount-wrap{
            .amount{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 0px;
            }   
        }


    }

    .selling-group-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsl(var(--base) /.2);
        padding: 6px 0;
    }

    .card-header.selling-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .card-primary {
        background-color: hsl(var(--primary)/.6);

        .dashboard-card__icon {
            background-color: hsl(var(--primary));
        }
    }

    .card-violet {
        background-color: hsl(var(--violet)/.6);

        .dashboard-card__icon {
            background-color: hsl(var(--violet));
        }
    }

    .card-success {
        background-color: hsl(var(--success)/.6);

        .dashboard-card__icon {
            background-color: hsl(var(--success));
        }
    }

    .card-danger {
        background-color: hsl(var(--danger)/.4);

        .dashboard-card__icon {
            background-color: hsl(var(--danger));
        }
    }

    .card-warning {
        background-color: hsl(var(--warning)/.6);

        .dashboard-card__icon {
            background-color: hsl(var(--warning));
        }
    }

    .card-info {
        background-color: hsl(var(--info)/.6);

        .dashboard-card__icon {
            background-color: hsl(var(--info));
        }
    }

    .card-success-1 {
        background-color: hsl(var(--success)/.3);

        .dashboard-card__icon {
            background-color: hsl(var(--success));
        }
    }

    .card-primary-1 {
        background-color: hsl(var(--primary)/.4);

        .dashboard-card__icon {
            background-color: hsl(var(--primary));
        }
    }

    .card-violet-1 {
        background-color: hsl(var(--violet)/.3);

        .dashboard-card__icon {
            background-color: hsl(var(--violet)/.8);
        }
    }

    .dashboard-body .single-service__icon img {
        width: 160px !important;
        padding: 5px;
        border: 3px solid hsl(var(--base)/0.06);
        height: 60px;
        object-fit: contain;
    }

.dashboard-chart {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(1, 15, 28, 0.14);
    border-radius: 12px;
    border: 1px solid transparent;
}

// dashboard header
.dashboard-header {
    box-shadow: 0px 1px 5px rgba(1, 9, 17, 0.14);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    background: hsl(var(--base));

    ul {
        display: flex;
        align-items: center;
        gap: 34px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            .user-thumb {
                width: 37px;
                height: 37px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .search-box {
                position: relative;

                i {
                    position: absolute;
                    top: 20px;
                    left: 36px;
                    color: hsl(var(--base-two)/.5);
                    font-size: 20px;
                    width: 0px;
                }

                input {
                    border-radius: 40px;
                    background: hsl(var(--base-two)/.05);
                    border: none;
                    padding: 16px 40px 16px 60px;
                    text-align: center;
                    color: hsl(var(--base-two));

                    &::placeholder {
                        color: hsl(var(--base-two)/.5);
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 1.2;
                    }

                }
            }

            a {
                width: 50px;
                height: 50px;
                background: hsl(var(--base-two)/.05);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: hsl(var(--base-two)/.5);

                i {
                    font-size: 24px;
                }
            }

            .notification {
                a {
                    position: relative;

                    .indecator {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                        font-size: 10px;

                    }

                    i {
                        color: hsl(var(--base));
                    }
                }
            }
        }

        .home-btn-2 {
            display: none;
        }
    }


    .home-mobile {
        display: none;

        a {
            i {
                color: hsl(var(--base));
            }
        }
    }
}

// responsive code
@media(max-width: 530px) {
    .dashboard-header {
        padding: 12px;
        ul {
            gap: 8px;
            margin-left: 8px;

            .language {
                display: none;
            }

            .home-btn-1 {
                display: none;
            }

            .home-btn-2 {
                display: block !important;
                margin: 0px 16px 0px 16px;

                i {
                    color: hsl(var(--white));
                    font-size: 22px;
                }
            }
        }

        .home-mobile {
            display: block;
        }

        .home-2 {
            display: none;
        }
    }
}

.search-box {
    position: relative;
    width: 300px;

    i {
        position: absolute;
        top: 16px;
        right: 20px;
    }
}

//   notification dropdown
.notification-dropdown {
    display: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 10px;
    position: absolute;
    top: 44px;
    right: 0;
    width: 320px;
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background: hsl(var(--white)) !important;
    border-radius: 4px;
    z-index: 9;

    .notification-dropdown-menu {
        padding: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: hsl(var(--white)) !important;

        .notification-item-wraper {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .notification-item {
                padding: 12px;
                height: 84px;
                border-bottom: 1px solid hsl(var(--base)/0.2);

                a {
                    display: inline-flex;
                    align-items: center;

                    span {
                        border-right: 1px solid hsl(var(--dark)/.2);
                        height: 34px;
                        width: 34px;

                        display: flex;
                        justify-content: center;
                        margin-right: 6px;
                        align-items: center;

                        .notification-icon {
                            font-size: 20px;
                            margin-right: 8px;
                        }
                    }

                    .notification-title {
                        font-size: 14px;
                        width: 230px;
                        padding: 0px 4px;
                    }
                }

                &:hover {
                    background: hsl(var(--base)/.2);
                }
            }

        }

        .notification-item-footer {
            a {
                p {
                    font-size: 14px;
                    padding: 8px 0px;
                    color: hsl(var(--base));
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsl(var(--base));

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(var(--base)/.5);

}


::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--base));
}




//   advertisement text are
.ad-text-area {
    height: 70px;
    width: 100%;
    font-weight: 500;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: hsl(var(--body-color)/.1);
    border: 1px solid hsl(var(--base)/0.3);
    color: hsl(var(--dark)) !important;
    line-height: 1;

    &:focus {
        color: hsl(var(--dark));
        box-shadow: none;
        border-color: hsl(var(--base));
        background-color: hsl(var(--body-color)/.05);
    }
}

.navigator-text {
    position: relative;

    h6 {
        margin: 0px;
        color: hsl(var(--white));

        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -8px;
            width: 60px;
            height: 2px;
            background: hsl(var(--white));
        }
    }
}

.filter-wrap {
    h6 {
        margin: 0px;
    }

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.dashboard-search-box {
    position: relative;

    input {
        padding: 13px 10px;
        border: 1px solid hsl(var(--white));
        color: hsl(var(--white)) !important;

        &:focus {
            border: 1px solid hsl(var(--white)) !important;
        }

        &::placeholder {
            color: hsl(var(--white)) !important;
        }
    }

    i {
        position: absolute;
        top: 17px;
        right: 13px;
        font-size: 20px;
        color: hsl(var(--white));
    }
}

.navigator-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.dashboard-title {
    .title {
        color: hsl(var(--white));
    }
}



.dashboard-container-wrap {
    margin-left: 267px;
}

@media(max-width:1199px) {
    .dashboard-container-wrap {
        margin-left: 0px;
    }
}

@media(max-width: 768px) {
    .dashboard-header ul .search {
        display: none;
    }

    .dashboard-header ul .settings {
        display: none;
    }
}

.dashboard-chart {
    background: hsl(var(--white));
}

