// xxl device =>
@media (max-width:1500px) {
    .social-option {
        .text {
            &::before {
                content: "";
                width: 120px !important;
            }

            &::after {
                content: "";
                width: 120px !important;
            }
        }
    }
}

@media (max-width: 1399px) {

}

@media (max-width:1199px) {

    .dashboard-container-wrap {
        margin-left: 0px;
    }

    .header-wrapper .main-menu a {
        margin: 0px;
    }

    .header-wrapper .menu-list-wrapper ul {
        gap: 0px;
    }

    .header-wrapper .search-box-wrap {
        width: 500px;
    }




    .faq-thumb--wrap {
        top: 240px;
    }

    .about-thumb-wrap {
        width: 100%;
        height: 300px;
    }

    .faq-right .faq-bg {
        width: 420px;
        height: 420px;
    }


}



// xl device =>

@media (max-width: 1024px) {
    .product-card-body {
        padding: 8px 36px !important;
    }

    .menu-btm .sub-menu {
        display: inline-flex;
        gap: 50px;
        padding: 0px 68px 0px 68px;
    }

    .btn-circle {
        width: 100px;
        height: 100px;

        &::after {
            width: 70px;
            height: 70px;
        }
    }

    .blog-card {
        padding: 14px;
    }
}

@media (max-width:1023px) {
    .custom--accordion:last-of-type .accordion-button.collapsed {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom--accordion .accordion-button[aria-expanded=false]::after {
        content: none;

    }

    .custom--accordion .accordion-button[aria-expanded=true]::after,
    .custom--accordion .accordion-button[aria-expanded=false]::after {
        content: none;
    }

    .custom--accordion .accordion-button:not(.collapsed) {
        flex-direction: column;
        align-items: flex-start;
    }
}


// lg device =>
@media (max-width: 996px) {
    .how-work--box::after {
        top: 26%;
        right: -23px;
        width: 26%;
    }

}

@media (max-width: 992px) {
    .product-card-body {
        padding: 8px 8px !important;
    }

    .header-wrapper .search-box-wrap {
        display: none;
    }

    .header-wrapper-2 {
        display: none;
    }

    .scrolled {
        display: flex !important;
    }
}



@media (max-width: 991px) {

    // flex
    .flex-md-col--revers {
        flex-direction: column-reverse;
    }







    .faq-right {
        display: none;
    }

    .faq-thumb--wrap {
        top: 0px;
        justify-content: center;
    }

    // .hero-thumb-wrap {
    //     display: none;
    // }

    // .about-us .thumb-wrap {
    //     display: none !important;
    // }

    .hero {
        padding-top: 120px;
        padding-bottom: 60px;
    }



    .section-content {
        .title-wrap {
            .title {
                font-size: 18px !important;
            }

            .title-2 {
                font-size: 26px !important;
            }
        }
    }

    .section-content-2 {
        .title-wrap {
            .title {
                font-size: 18px !important;
            }
        }
    }

    .section-content-3 {
        .title {
            font-size: 26px !important;
        }
    }

    .section-content-4 {
        margin-bottom: 40px;

        .title {
            font-size: 26px !important;
        }
    }

    .section-content-5 {
        .title {
            font-size: 26px !important;
        }
    }

    .about-thumb-wrap {
        width: 100%;
        height: 656px;
    }

    .section-content {
        margin-bottom: 10px;
    }

}



// md device =>
@media (max-width: 768px) {

    .dashboard-header ul .search {
        display: none;
    }

    .dashboard-header ul .settings {
        display: none;
    }
    
    .ham__menu {
        display: block !important;
    }

    .language-dropdown {
        width: 90px;
        position: fixed;
        top: 44px;
        right: 74px !important;

    }

    .faq-thumb--wrap::after {
        left: 24%;
        width: 190px;
        height: 190px;
    }

    .how-work--box::after {
        display: none;
    }



    .hero-left-content .hero-title {
        font-size: 46px;
    }

    .testimonial-card .title {
        line-height: 30px;
    }

    .login-box {
        padding: 20px 14px;
    }
}

@media (max-width:700px) {


    .about-us .thumb-wrap .thumb1 {
        position: absolute;
        left: -28px;
        top: 30%;
    }

    .about-us .thumb-wrap .thumb2 {
        position: absolute;
        left: -48px;
        bottom: 18%;
    }
}

@media (max-width:630px) {

    .about-us .thumb-wrap .thumb1 {
        position: absolute;
        left: -2%;
        top: 30%;
    }

    .about-us .thumb-wrap .thumb2 {
        position: absolute;
        left: -2%;
        bottom: 18%;
    }

    .about-us .thumb-wrap .thumb {
        height: 307px;
    }
}


// sm device =>

@media(max-width: 530px) {
    .dashboard-header {
        padding: 12px;
        ul {
            gap: 8px;
            margin-left: 8px;

            .language {
                display: none;
            }

            .home-btn-1 {
                display: none;
            }

            .home-btn-2 {
                display: block !important;
                margin: 0px 16px 0px 16px;

                i {
                    color: hsl(var(--white));
                    font-size: 22px;
                }
            }
        }

        .home-mobile {
            display: block;
        }

        .home-2 {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .product-card-body {
        padding: 3px 80px !important;
    }
}

@media (max-width:520px) {
    .about-us .thumb-wrap .thumb1 {
        position: absolute;
        left: -2%;
        top: 30%;
    }

    .about-us .thumb-wrap .thumb2 {
        position: absolute;
        left: -2%;
        bottom: 18%;
    }

    .about-us .thumb-wrap .thumb {
        height: 300px;
    }

}
@media(max-width:480px) {
    li.login-registration-list__item {
        display: none;
    }
    .menu-wrapper {
        display: none;
    }
}

@media (max-width: 415px) {
    .product-card-body {
        padding: 8px 16px !important;
    }
}


@media (max-width: 425px) {

    .key-card{
        .title{
            margin-bottom: 12px;
        }
    } 

    .hero-left-content .hero-title {
        font-size: 34px;
        line-height: 50px;
    }

    .hero {
        padding-top: 135px;
        padding-bottom: 30px;
    }

    .section-content-4 {
        margin-top: 0px;
    }

    .signin-box {
        width: 100%;
    }

    .login-box .title {
        font-size: 25px;
    }

    .social-option {
        .text {
            h6 {
                margin: 0px 7px !important;
            }

            &::before {
                width: 100px !important;

            }

            &::after {
                width: 100px !important;
            }
        }
    }



    .about-us .thumb-wrap {
        height: 260px;
    }

    .section-content-4 .heading {
        text-align: center;
    }

}



@media(max-width: 426px) {
    .transaction-card {
        padding: 20px 8px;
    }

    .footer-subscribe-box {
        .footer-input {
            border: 1px solid hsl(var(--base));

            &::placeholder {
                color: hsl(var(--white)/0.7) !important;
                font-size: 14px;
            }
        }

        .search-btn {
            margin: 16px 0 0 0px;
        }
    }

    .footer-item__title {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media(max-width: 376px) {
    .footer-subscribe-box {
        .footer-input {
            width: 100%;
        }

    }
}

@media (max-width: 320px) {
    .language-dropdown {
        right: 52px !important;
    }
}