// text
.text-sm {
    font-size: 12px !important;
}

// text wight
.fw--400{
    font-weight: 400 !important;
}
.fw--500{
    font-weight: 500 !important;
}
.fw--600{
    font-weight: 600 !important;
}
.fw--700{
    font-weight: 700 !important;
}
.fw--800{
    font-weight: 800 !important;
}
.fw--900{
    font-weight: 900 !important;
}


/* all gradiant background here */
.gradiant--bg-1 {
    background: var(--gradient-1);
}

.gradiant--bg-2 {
    background: var(--gradient-2);
}

.gradiant--bg-3 {
    background: var(--gradient-3);
}

.gradiant--bg-4 {
    background: var(--gradient-4);
}

.gradiant--bg-5 {
    background: var(--gradient-5);
}

.gradiant--bg-6 {
    background: var(--gradient-6);
}

.gradiant--bg-7 {
    background: var(--gradient-7);
}

.gradiant--bg-8 {
    background: var(--gradient-8);
}

.gradiant--bg-9 {
    background: var(--gradient-9);
}

.gradiant--bg-10 {
    background: var(--gradient-10);

}

.gradiant--bg-11 {
    background: var(--gradient-11);

}

.gradiant--bg-12 {
    background: var(--gradient-12);

}

.gradiant--bg-13 {
    background: var(--gradient-13);

}

.gradiant--bg-14 {
    background: var(--gradient-14);

}

.gradiant--bg-15 {
    background: var(--gradient-15);

}

.gradiant--bg-16 {
    background: var(--gradient-16);

}

.gradiant--bg-17 {
    background: var(--gradient-17);

}

.gradiant--bg-18 {
    background: var(--gradient-18);

}

.gradiant--bg-19 {
    background: var(--gradient-19);

}

.gradiant--bg-20 {
    background: var(--gradient-20);

}

.gradiant--bg-21 {
    background: var(--gradient-21);

}

.gradiant--bg-22 {
    background: var(--gradient-22);

}

.gradiant--bg-23 {
    background: var(--gradient-23);

}

.gradiant--bg-24 {
    background: var(--gradient-24);

}

.gradiant--bg-25 {
    background: var(--gradient-25);

}

.gradiant--bg-26 {
    background: var(--gradient-26);

}

.gradiant--bg-27 {
    background: var(--gradient-27);

}

.gradiant--bg-28 {
    background: var(--gradient-28);

}

.gradiant--bg-29 {
    background: var(--gradient-29);

}

.gradiant--bg-30 {
    background: var(--gradient-30);

}

.gradiant--bg-31 {
    background: var(--gradient-31);

}

.gradiant--bg-32 {
    background: var(--gradient-32);

}

.gradiant--bg-33 {
    background: var(--gradient-33);

}




// z-index

.z--1 {
    z-index: 1;
}

.z--2 {
    z-index: 2;
}

.z--3 {
    z-index: 3;
}

.z--4 {
    z-index: 4;
}

.z--5 {
    z-index: 5;
}

.z--6 {
    z-index: 6;
}

.z--7 {
    z-index: 7;
}

.z--8 {
    z-index: 8;
}

.z--9 {
    z-index: 9;
}

.zm--1 {
    z-index: -1;
}

.zm--2 {
    z-index: -2;
}

.zm--3 {
    z-index: -3;
}

.zm--4 {
    z-index: -4;
}

.zm--5 {
    z-index: -5;
}

.zm--6 {
    z-index: -6;
}

.zm--7 {
    z-index: -7;
}

.zm--8 {
    z-index: -8;
}

.zm--9 {
    z-index: -9;
}



// radius

.base-radius {
    border-radius: 12px !important;
}

.radius--4 {
    border-radius: 4px !important;
}

.radius--8 {
    border-radius: 8px !important;
}

.radius--12 {
    border-radius: 12px !important;
}

.radius--16 {
    border-radius: 16px !important;
}

.radius--20 {
    border-radius: 20px !important;
}

.radius--24 {
    border-radius: 24px !important;
}

.radius--28 {
    border-radius: 28px !important;
}

.radius--30 {
    border-radius: 30px !important;
}

.radius--32 {
    border-radius: 32px !important;
}

// 50%
.radius--50 {
    border-radius: 50% !important;
}


// width
.w--10 {
    width: 10% !important;
}

.w--20 {
    width: 20% !important;
}

.w--30 {
    width: 30% !important;
}

.w--40 {
    width: 40% !important;
}

.w--50 {
    width: 50% !important;
}

.w--60 {
    width: 60% !important;
}

.w--70 {
    width: 70% !important;
}

.w--80 {
    width: 80% !important;
}

.w--90 {
    width: 90% !important;
}

.w--100 {
    width: 100% !important;
}


// overflow 
.overflow--hidden {
    overflow: hidden;
}


// border
.border-top {
    border-top: 1px solid hsl(var(--black)/0.1) !important;
}

.border-left {
    border-left: 1px solid hsl(var(--black)/0.1) !important;
}

.border-right {
    border-right: 1px solid hsl(var(--black)/0.1) !important;
}

.border-bottom {
    border-bottom: 1px solid hsl(var(--black)/0.1) !important;
}

// border none
.border-top--noe {
    border-top: none !important;
}

.border-left--none {
    border-left: none !important;
}

.border-right--none {
    border-right: none !important;
}

.border-bottom--none {
    border-bottom: none !important;
}