

//================= Slick Arrow & Dots css Start ================
.slick-initialized.slick-slider {
  margin: 0;

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto;
    padding: 0px 12px 0px 0px;
  }

}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .2s linear;
  background-color: hsl(var(--base / 0.1));
  color: hsl(var(--black));
  font-size: 16px;

  @include md-screen {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  @include msm-screen {
    width: 45px;
    height: 45px;
  }

  &:hover {
    border-color: hsl(var(--base));
  }
}

.slick-next {
  right: 0px;

  @include md-screen {
    right: -10px;
  }

  @include msm-screen {
    right: 10px;
  }
}

.slick-prev {
  left: 0px;

  @include md-screen {
    left: -10px;
  }

  @include msm-screen {
    left: 10px;
  }
}

.slick-slide img {
  display: inline-block;
}




/*================= Text Underline Hover ================*/
.text-hover a {
  background-image: linear-gradient(to right, hsl(var(--base)) 0%, hsl(var(--base)) 100%);
  background-position: 0 calc(100% - 0.02em);
  background-size: 0 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0;
  display: inline;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.text-hover a:hover {
  background-size: 100% 2px;
}

/*========== Magnific Popup button style ========*/
button.mfp-close {
  top: -15px;
  font-size: 21px;
  font-weight: 800;
  height: 35px;
  background: hsl(var(--base));
  line-height: 32px;
  padding: 0;
  opacity: 1;
  border-radius: 5px;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: hsl(var(--white));
  right: 0px;
  text-align: right;
  padding-right: 13px;
  width: 42px;
}

.cookies-card {
  position: fixed;
  bottom: 16px;
  width: 40%;
  padding: 20px;
  background: hsl(var(--white));
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  right: 16px;
  z-index: 99;
  border: 2px solid hsl(var(--base));
}

.section-bg--base {
  background-color: hsl(var(--base) / 0.1);
}

.bg--img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.bg--img-2 {
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: cover !important;
}



// gradient icon
.fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(var(--base))), to(hsl(var(--secondary))));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.card-bg {
  background: var(--card-bg-2);
}

.header-bg {
  background: var(--header-bg);
}





.bg--transparent {
  background: transparent !important;
}







/* drag and drop box */

.photo_upload .drag_area {
  height: 400px;
  border-radius: 8px;
  border: 1px dashed hsl(var(--black)/0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  --webkit-user-select: none;
}

.photo_upload .drag_area .visible {
  font-size: 18px;
}

.photo_upload .select {
  cursor: pointer;
  transition: 0.4s;
}

.photo_upload .select:hover {
  opacity: 0.6;
}

.photo_upload .container_area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 30px;
}

.photo_upload .container_area .image {
  height: 75px;
  margin-left: 5px;
  width: 75px;
  position: relative;
  margin-bottom: 8px;
}

.photo_upload .container_area .image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.photo_upload .container_area .image .delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: hsl(var(--black)/0.6);
  top: 0px;
  right: 0px;
  font-size: 12px;
  cursor: pointer;
  color: hsl(var(--base));
  z-index: 9;
}

.photo_upload input,
.photo_upload .drag_area .on-drop,
.photo_upload .drag_area.dragover .visible {
  display: none;
}



.drag_drop_content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag_drop_content .icon_wrap {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: hsl(var(--black)/0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag_drop_content .icon_wrap i {
  font-size: 30px;
}




// instruction
.instruction {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding: 10px 0px 30px 0px;

  .item--list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-wrap {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .title {
      color: hsl(var(--black)/0.6);
      font-size: 14px;

    }

    .amount {
      color: hsl(var(--black));
      font-size: 14px;
      font-weight: 500;
    }
  }
}


// list item
.list--wrap {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  .list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid hsl(var(--black)/0.06);
    padding-bottom: 12px;

    .amount {
      color: hsl(var(--black));
      font-weight: 500;
    }

    &:last-child {
      border: none;
      padding: 0px;
    }
  }

}


.tap--balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background-color: hsl(var(--base) / 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  width: 194px;
  transition: 3s ease;
  transition: flex-direction 0.3s ease;

  .textt {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  }

  .balance {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  }
}




.transition-animation {
  animation-name: fadeInOut;
  animation-duration: 2s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}




.circle--icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(var(--base));
  color: hsl(var(--white));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

// refer link 
.refer-link--wrap {
  border: 1px dashed hsl(var(--white)/0.1);
  padding: 8px 12px;
  padding-right: 50px;
  border-radius: 8px;
  position: relative;

  .text {
    font-size: 16px;
    font-weight: 400;
  }

  .copy--btn {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 18px;
    color: hsl(var(--base));
  }
}


.search-input {
  padding-right: 40px !important;
}



// section bg
.plan--section {
  position: relative;
  z-index: 1;

  .bg--image {
    position: absolute;
    z-index: -1;
    top: 40%;

  }
}

.profite--calculator {
  position: relative;
  z-index: 1;

  padding: 100px 0px;

  .bg--image {
    position: absolute;
    z-index: -1;
    top: 60%;

  }
}

.payment-section {
  position: relative;
  z-index: 1;

  .bg--image {
    position: absolute;
    z-index: -1;
    top: -30%;

  }
}

.investor-section {
  position: relative;
  z-index: 1;
}


.service-section {
  position: relative;
  z-index: 1;
  padding: 100px 0px 150px 0px;



  .box--one {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -75%;
      left: 0px;
      width: 130px;
      height: 314.44px;
      border: 1px solid hsl(var(--base));
      border-top: 0;
      border-right: 0;
      border-bottom-left-radius: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 30%;
      right: -1px;
      width: 130px;
      height: 260.44px;
      border: 1px solid hsl(var(--base));
      border-bottom: 0;
      border-left: 0;
      border-top-right-radius: 70px;

    }
  }



  .box--two {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -40%;
      left: 0px;
      width: 80%;
      height: 243.44px;
      border: 1px solid hsl(var(--base));
      border-top: 0;
      border-right: 0;
      border-top-right-radius: 70px;
      border-bottom-left-radius: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -40%;
      right: 0px;
      width: 30%;
      height: 325.44px;
      border: 1px solid hsl(var(--base));
      border-left: 0;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;

    }
  }

  .box--three {
    position: relative;
    top: -44px;

    &::after {
      content: "";
      position: absolute;
      top: 29%;
      left: 0px;
      width: 28%;
      height: 352.44px;
      border: 1px solid hsl(var(--base));
      border-right: 0;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 29%;
      right: -140px;
      width: 62%;
      height: 1px;
      border: 1px solid hsl(var(--base));
      border-bottom: 0px;
    }
  }

  .box--four {
    position: relative;
    top: -44px;

    &::before {
      content: "";
      position: absolute;
      top: 29%;
      right: 0px;
      width: 32%;
      height: 343.44px;
      border: 1px solid hsl(var(--base));
      border-left: 0;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;

    }
  }
}




// progress list
.progress-list {

  li {
    .icon-wrap {
      width: 39px;
      height: 39px;
      border-radius: 6px;
      background-color: hsl(var(--base));
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: hsl(var(--black)/0.1);
        bottom: 0px;
        right: 0px;
        z-index: -1;
      }

      i {
        color: hsl(var(--white));
      }
    }

    .content--wrap {
      .title {
        font-size: 16px;
      }
      .subtitle{
        font-size: 14px;
      }
    }
  }
}












// custom column

@media (max-width:1920px) and (min-width:1799px) {
  .xxxl {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

@media (max-width:1800px) and (min-width: 1562px) {
  .xxxl {
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width:1563px) and (min-width:1440px) {
  .xxxl {
    width: 25% !important;
  }
}