.category-section {
    padding: 0px 0px 0px;
    position: relative;
    top: -100px;

    &--content{
        padding-top: 100px;
        background-color: hsl(var(--white));
   
    }
}


.category-section2 {
    padding: 188px 0px 120px;
}

